<!-- templates/home.html-->
{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
{% if request.session.role == 1 or request.session.role == 2%}
  <p>Привет пользователь!</p>
  <a href="{% url 'logout' %}">Log Out</a>
    <a href="{% url 'watch_excursions' %}">Перейтии к покупке экскурсий</a>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
    <p>or</p>
    <a href="{% url 'registration' %}">Зарегистрироваться</a>
{% endif %}
{% endblock %}