{% extends 'base.html' %}
{% load static %}

{% block title %}ExcursionAdd{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static "schedule.css"%}">
</head>

    <h2>Создание расписания к экскурсии</h2>
    <div>Название вашей экскурсии: </div>
    <div id="excursion_name">{{excursion_name}}</div>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="sendButton">Добавить</button>
    </form>

{% endblock %}