{% extends 'base.html' %}
{% load static %}

{% block title %}Watch_excursions{% endblock %}

{% block content %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{#    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">#}
{#    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>#}
{#    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}


    <link rel="stylesheet" type="text/css" href="{% static "scripts/datetimepicker/jquery.datetimepicker.css" %}"/>
    <script src="{% static "scripts/datetimepicker/jquery.js" %}"></script>
    <script src="{% static "scripts/datetimepicker/build/jquery.datetimepicker.full.js" %}"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>

    <script src="{% static "scripts/watch_excursions.js" %}" type="text/javascript"></script>



</head>

<body>

<h2>Excursions table</h2>
<table id=myTable class="display">
<thead>
<tr class="header">
    <th>Название</th>
    <th>Описание</th>
    <th>Гид</th>
    <th>Цена</th>
    <th>Список достопримечательностей</th>
    <th>Выберите дату</th>
    <th>Выберите время</th>
    <th>Добавить</th>
</tr>
</thead>
<tbody>
{% for r in excursions %}
<tr>

    <td class="excursion_name"> {{ r.name }}</td>
    <td> {{ r.description }}</td>
    <td> <a href="{% url 'guide_detail' guide_fio=r.guide %}">{{ r.guide }}</a></td>
    <td> {{ r.price }}</td>

    {% for sight in sights %}
        {% if forloop.parentloop.counter == forloop.counter %}
        <td> {% for s in sight %} <a href="{% url 'sight_detail' sight_id=s.id %}">{{s.name}}</a> {% endfor %}</td>
        {% endif %}
    {% endfor %}
    <td>Выберите дату: <input type="text" class="datetimepicker" id="datetimepicker_{{ forloop.counter }}"></td>

    {% for times in schedule %}
        {% if forloop.parentloop.counter == forloop.counter %}
            <td>
            <select id="select_{{ forloop.parentloop.counter }}">
                    {% for t in times %}
                        <option value="{{ t.day }} {{ t.time }}">{{ t.day }} {{t.time}}</option>
                    {% endfor %}
            </select>
            </td>
        {% endif %}
    {% endfor %}
    <td><button class="addButton" id="addBtn">Добавить</button></td>
</tr>
{% endfor %}
</tbody>
</table>
<p id="sum">Текущая сумма: 0</p>
<form method="post">
{% csrf_token %}
<button type="submit" class="sendButton">Купить</button>
</form>
{% endblock %}