{% extends 'base.html' %}
{% load static %}

{% block title %}SightAdd{% endblock %}

{% block content %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static "scripts/watch_excursions.js" %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static "styles/test.css" %}">
</head>

<body>

<h2>Excursions table</h2>
<table>
<tr>
    <th>Название</th>
    <th>Описание</th>
    <th>Гид</th>
    <th>Цена</th>
    <th>Добавить</th>
</tr>
{% for r in excursions %}
<tr>
    <td class="excursion_name"> {{ r.name }}</td>
    <td> {{ r.description }}</td>
    <td> {{ r.guide }}</td>
    <td> {{ r.price }}</td>
    <td><button class="addButton">Добавить</button></td>
</tr>
{% endfor %}
</table>
{% csrf_token %}
<button type="submit" class="sendButton">Купить</button>
{% endblock %}